.looking {
    background: url(/src/assets/images/partner-bg.png) no-repeat center/cover;
    padding: 250px 0 240px;
    position: relative;

    &__title {
        font-size: toRem(44);
        font-weight: 700;
        letter-spacing: 0.06em;
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-size: toRem(24);
        color: #fff;
        display: block;
        text-align: center;
        margin-bottom: 36px;
    }

    &__btn {
        width: 160px;
        line-height: 42px;
        border: 2px solid #06B25F;
        border-radius: 6px;
        background-color: #fff;
        font-weight: 700;
        color: #06B25F;
        text-transform: uppercase;
        display: block;
        margin: 0 auto;
    }


    &__bg {
        position: absolute;
        top: -50px;
    }
}