.partners {
    background: url(/src/assets/images/Partners-bg.png) no-repeat center/cover;
    padding: 50px 0;

    &__title {
        margin-bottom: 80px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 320px);
        justify-content: center;
        column-gap: 24px;
        row-gap: 40px;

        @include a (laptop) {
            grid-template-columns: repeat(3, 320px);
        }

        @include a (tablet-xl) {
            grid-template-columns: repeat(2, 320px);
        }

        @include a (tablet) {
            grid-template-columns: 320px;
        }
    }

    &__item {
        background-color: #fff;
        box-shadow: 0px 3px 16px 4px rgba(29, 51, 107, 0.1);
        border-radius: 16px;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}